:root {
  --grad1: #232526;
  --grad2: #414345;
  --arrow-color: rgb(177, 177, 177);
  --arrow-color-hover: rgb(252, 252, 252);
}
.projects h1 {
  color: white;
  font-size: 2rem;
  padding: 0 0 50px 0;
  text-align: center;
}
.project-container {
  padding: 20px;
  background-color: var(--grad2);
  filter: drop-shadow(2px 2px 2px var(--grad1));
  margin: 20px;
  border-radius: 0.2em;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project-container img {
  width: 100%;
  height: auto;
}
.project-container .description-col .title p {
  font-weight: bold;
  color: white;
  padding: 5px 0px 5px 0px;
  font-size: 1.5rem;
}

.project-container .description-col .title a {
  color: rgb(230, 230, 230);
  font-size: 1rem;
}
.project-container .description-col .description .heading {
  font-weight: bold;
  color: white;
  padding: 5px 0px 5px 0px;
  font-size: 1.5rem;
}

.project-container .description-col .description p {
  color: rgb(230, 230, 230);
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .project-container:hover {
    transform: translate(-5px, -10px);
    filter: drop-shadow(5px 5px 2px var(--grad1));
  }
}
@media screen and (max-width: 900px) {
  .project-container {
    padding: 10px;
    background-color: var(--grad2);
    filter: drop-shadow(2px 2px 2px var(--grad1));
    align-self: center;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .project-container {
    padding: 10px;
    background-color: #181818;
    align-self: center;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .project-container .description-col .title p {
    font-weight: bold;
    color: white;
    padding: 5px 0px 5px 0px;
    font-size: 1rem;
  }

  .project-container .description-col .title a {
    color: rgb(230, 230, 230);
    font-size: 0.8rem;
  }
  .project-container .description-col .description .heading {
    font-weight: bold;
    color: white;
    padding: 5px 0px 5px 0px;
    font-size: 1rem;
  }

  .project-container .description-col .description p {
    color: rgb(230, 230, 230);
    font-size: 0.8rem;
  }
}
