.navbar {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 3px;
  display: block;
  cursor: pointer;
}

.nav-links li .item {
  position: relative;
}

.nav-links li .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.cross-btn {
  display: none;
}

.burger {
  position: absolute;
  right: 30px;
  top: 40px;
  display: none;
  cursor: pointer;
}
.burger .bar {
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 5px;
}

@media (min-width: 700px) {
  .nav-links li .item:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media (max-width: 700px) {
  .burger {
    display: block;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  .cross-btn {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
  }
  .cross-btn svg {
    width: 20px;
    height: 20px;
    fill: #dadada;
  }
  .cross-btn:active svg {
    fill: #fff;
  }
  .nav-links li a:active {
    text-decoration: underline;
  }
}
.nav-active {
  transform: translateX(0%);
}
