.skills {
  background-color: #202020;
  text-align: center;
  overflow-wrap: break-word;
}
.skills h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  margin: 50px;
  padding: 50px;
}

.skills h3 {
  font-size: 1rem;
  color: rgb(192, 192, 192);
  margin-bottom: 50px;
}

.prog-lang-container,
.others-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  padding-bottom: 50px;
}

.prog-lang-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: white;
  text-align: center;
}
.prog-lang-container a img {
  width: 100px;
  height: 100px;
}

.others-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  text-align: center;
}

.others-container a img {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 600px) {
  .prog-lang-container a:hover {
    background-color: #3a3a3a;
    filter: drop-shadow(5px 5px 2px black);
  }

  .others-container a:hover {
    background-color: #3a3a3a;

    filter: drop-shadow(5px 5px 2px black);
  }
}

@media screen and (max-width: 700px) {
  .prog-lang-container a img {
    width: 30px;
    height: 30px;
  }

  .others-container a img {
    width: 30px;
    height: 30px;
  }
  .prog-lang-container a p {
    font-size: 0.7rem;
  }
  .others-container a p {
    font-size: 0.7rem;
  }
  .prog-lang-container a {
    background-color: #000000;
    border-radius: 0.5em;
  }
  .others-container a {
    background-color: #000000;
    border-radius: 0.5em;
  }
  .prog-lang-container a:active {
    background-color: #3a3a3a;
  }

  .others-container a:active {
    background-color: #3a3a3a;
  }
}
